<div class="jumbotron" style="text-align: center;height: 75vh">
    <h1 class="display-4">COVID Volunteer</h1>
        <hr class="my-4">
   
<div id="google_translate_element"></div>
<div style="margin-top: 10px">
   <a class="btn btn-light" mat-stroked-button  style="min-width: 160px;color: #007bff" routerLink="/dashboard-offered-help"><i class="fa fa-plus" aria-hidden="true"></i>
SEEK HELP</a>
		        <a class="btn btn-light" mat-stroked-button  style="min-width: 160px;margin-left: 5px;color: #007bff " routerLink="/dashboard"><i class="fa fa-plus" aria-hidden="true"></i>
HELP OTHERS</a>
</div>
<br>
<div style="margin-top: 43px;">
<span style="font-weight: bold;
    ">Share on: </span>
<a style="font-size: 28px" href="https://www.facebook.com/sharer/sharer.php?u=https://100milesahead.com/home&t=Covid Help"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Facebook"> <i class="fab fa-facebook-square"></i>


</a>

<a style="margin-left: 8px;font-size: 28px" href="http://twitter.com/share?text=Covid help&url=https://100milesahead.com/home&hashtags=#covidhelp,#COVID19India"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Twitter"> <i class="fab fa-twitter"></i>

</a>

<a style="margin-left: 8px;font-size: 28px" href="https://www.linkedin.com/shareArticle
?mini=true
&url=https://100milesahead.com/home
&title=Covid-Help"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on linkedin"> <i class="fab fa-linkedin"></i>
</a>


<a style="margin-left: 8px;font-size: 28px" href="whatsapp://send?text=https://100milesahead.com/home" data-action="share/whatsapp/share" target="_blank"><i class="fab fa-whatsapp-square"></i>

</a> 
</div>




</div>

<div>
	
	
</div>
