<i class="fas fa-chevron-left" style="font-size: 35px;cursor: pointer;margin-top: 7px;margin-left:10px;" (click)="routeHome()"></i>

<a class="btn btn-light" mat-stroked-button  style="width:100%;min-width: 160px;margin-top:10px;margin-bottom:10px;color: #007bff " routerLink="/volunteer">
	<i style="vertical-align: baseline;" class="fas fa-angle-double-right"></i>FILL THIS FORM TO HELP OTHERS	</a>
<div style="text-align:center;margin-top:10px;margin-bottom:10px;
    font-weight: bold;">
<i style="vertical-align: baseline;" class="fas fa-hand-point-down"></i>
SEE WHO NEED HELP NOW
<i style="vertical-align: baseline;" class="fas fa-hand-point-down"></i>
</div> 

<div style="text-align: end">
	<span><i style="vertical-align: baseline;" class="fas fa-filter"></i>Filter By State : </span> 
	<mat-form-field appearance="fill">
  <mat-label>Select State</mat-label>
  <mat-select (selectionChange)="selected($event)">
    <mat-option *ngFor="let state of states" [value]="state">
      {{state}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
<mat-spinner style="margin: 0 auto;
    margin-top: 50px;margin-bottom: 20%;" *ngIf="loading"></mat-spinner>

 <br/>
<div *ngIf="isFilter">
	<div *ngIf="listhelpTemp.length== 0" style="text-align: end">
	
    {{listhelpTemp?.length}}
    Record Found
</div>
<div *ngIf="listhelpTemp  && listhelpTemp.length> 0" style="text-align: end">
	
    {{listhelpTemp?.length}} Record Found
</div>
<div  *ngFor="let help of listhelpTemp">
	
<mat-card>
	<span>Creation Time :</span><p> {{help.needHelpId.date | date:'dd-MM-yyyy hh:mm:ss a'}}</p>
	Name : {{help.name}} <span><i class="fas fa-phone-alt" style="float: right;
    font-size: 21px;cursor: pointer;" aria-hidden="true" (click)="callNow(help.mobContact)"></i></span><br>
	<span *ngIf="help.emailId">EmailId : {{help.emailId}}<br></span>
	<span>Mobile no. <span style="font-weight: bold;">{{help.mobContact}}</span></span><br>
	Address: {{help.address}}
	State: <span style="font-weight: bold;">{{help.state}} </span>
	<span>
		Zip : {{help.zip}}
	</span> 
	<br>
	<span>Providing Help Related to :  
		<span *ngIf="help.oxygenHelp" style="font-weight: bold;">Oxygen<i class="fas fa-check"></i></span>
		<span *ngIf="help.medicineHelp" style="font-weight: bold;">Medicine<i style="color: #d41d71;" class="fas fa-check"></i></span>
		<span *ngIf="help.foodSupplyHelp" style="font-weight: bold;">Food Supply<i style="color: #d41d71;" class="fas fa-check"></i></span>
		<span *ngIf="help.financialHelp" style="font-weight: bold;">Financial<i style="color: #d41d71;" class="fas fa-check"></i></span>
		<span *ngIf="help.bedHelp" style="font-weight: bold;">Bed<i style="color: #d41d71;" class="fas fa-check"></i></span>
		<span *ngIf="help.plasmaHelp" style="font-weight: bold;">Plasma<i style="color: #d41d71;" class="fas fa-check" ></i></span>
		<span *ngIf="help.bloodHelp" style="font-weight: bold;">Blood<i style="color: #d41d71;" class="fas fa-check" ></i></span>
		<span *ngIf="help.otherHelp" style="font-weight: bold;">Other<i style="color: #d41d71;" class="fas fa-check"></i></span> 

	
	</span>
	<br>
	<br>
	<span *ngIf="help.description">
		<span style="font-weight: bold;">Description: </span>
	<span>{{help.description}}</span>

	</span>

</mat-card>
<br>
</div>
</div>
<div *ngIf="!isFilter">
	<div *ngIf="listhelp.length== 0" style="text-align: end">
	
    {{listhelp?.length}}
    Record Found
</div>
<div *ngIf="listhelp  && listhelp.length> 0" style="text-align: end">
	
    {{listhelp?.length}} Record Found
</div>
<div  *ngFor="let help of listhelp">
<mat-card>
	<span>Creation Time :</span><p> {{help.needHelpId.date | date:'dd-MM-yyyy hh:mm:ss a'}}</p>
	Name : {{help.name}} <span><i class="fas fa-phone-alt" style="float: right;
    font-size: 21px;cursor: pointer;" aria-hidden="true" (click)="callNow(help.mobContact)"></i></span><br>
	<span *ngIf="help.emailId">EmailId : {{help.emailId}}<br></span>
	<span>Mobile no. <span style="font-weight: bold;">{{help.mobContact}}</span></span><br>
	Address: {{help.address}}
	State: <span style="font-weight: bold;">{{help.state}} </span>
	<span>
		Zip : {{help.zip}}
	</span>
	<br>
	<span>Providing Help Related to :  
		<span *ngIf="help.oxygenHelp" style="font-weight: bold;">Oxygen<i style="color: #d41d71;" class="fas fa-check"></i></span>
		<span *ngIf="help.medicineHelp" style="font-weight: bold;">Medicine<i style="color: #d41d71;" class="fas fa-check"></i></span>
		<span *ngIf="help.foodSupplyHelp" style="font-weight: bold;">Food Supply<i style="color: #d41d71;" class="fas fa-check"></i></span>
		<span *ngIf="help.financialHelp" style="font-weight: bold;">Financial<i style="color: #d41d71;" class="fas fa-check"></i></span>
		<span *ngIf="help.bedHelp" style="font-weight: bold;">Bed<i style="color: #d41d71;" class="fas fa-check"></i></span>
		<span *ngIf="help.plasmaHelp" style="font-weight: bold;">Plasma<i style="color: #d41d71;" class="fas fa-check" ></i></span>
		<span *ngIf="help.bloodHelp" style="font-weight: bold;">Blood<i style="color: #d41d71;" class="fas fa-check" ></i></span>
		<span *ngIf="help.otherHelp" style="font-weight: bold;">Other<i style="color: #d41d71;" class="fas fa-check"></i></span>

	
	</span>
	<br>
	<br>
	<span *ngIf="help.description">
		<span style="font-weight: bold;">Description: </span>
			<span>{{help.description}}</span>

	</span>

</mat-card>
<br>
</div>
</div>